<!DOCTYPE html>
<html lang="pt-br">

<%- include('../partials/head')%>

</head>
<body class="container">

  <%- include('../partials/header', {pagina: "Sobre"})%>

  <main>
    <div class="jumbotron">
      <h1>Sobre mim</h1>
      <p>Oi sou Rafael Thosi!</p>
    </div>
  </main>

  <%- include('../partials/footer')%>

</body>
</html>